body {
    width: 244px;
    height: auto;
}

canvas {
    grid-area: canvas;
}

#labelShake {
    grid-area: labelShake;
    justify-self: left;
}

#shakeIt {
    grid-area: shakeIt;
    justify-self: left;
}

#labelWave {
    grid-area: labelWave;
    justify-self: left;
}

#wave {
    grid-area: wave;
    justify-self: left;
}

fieldset {
    display: grid;
    grid-template-areas: 
    "canvas canvas"
    "shakeIt labelShake"
    "wave labelWave";
    border: solid 2px #000;
}

