#lengthRange {
    grid-area: range;
}

#output {
    grid-area: output;
}

#quality {
    grid-area: quality;
}

#linkCheck {
    grid-area: link;
}

#pwd {
    grid-area: pwd;
}

#btn {
    grid-area: btn;
}

#result {
    grid-area: checkAns;
}

#pwdGenBody {
    width: 400px;
    display: grid;
    grid-template-areas: 
    "range range range"
    "output . ."
    "quality . ."
    "link . .";
}

#checkBody {
    width: 400px;
    display: grid;
    grid-template-areas: 
    "pwd pwd btn"
    "checkAns checkAns checkAns";
}